body {
    margin: 800;
    font-family: Calibri;
    background-color: #d5dfe0;
    color: #333;
}

header {
    background-color: #f56b45;
    color: white;
    text-align: center;
    padding: 40px;
}


main {
    max-width: 1500px;
    margin: 800px auto;
    padding: 30px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
