body {
    margin: 500;
    font-family: Arial, sans-serif;
    background-color: #d5dfe0;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px;
}


main {
    max-width: 1500px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
